
.jumbotron.dark
  .container-fluid
    .row
      .col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-2
        a(href="#{site.facebook_url}", target="blank")
          img#facebook-logo(src='/assets/images/logos/FB-f-Logo__white_512.png')
      .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
        #facebook-message
          a(href="#{site.facebook_url}", target="blank")
            h2.
              Follow us on Facebook
            p.
              view all of our recent projects
