.jumbotron.light.no-nav
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        h1.
          Feedback
        h2.
          Please provide us some general feedback on our service
  .container-fluid
    form
      input#subject.form-control(type='hidden', name='subject', value='Site Feedback Form')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            input#from.text.form-control(type='email', name='from', placeholder='Your email')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            input#name.text.form-control(type='text', name='name', placeholder='Your name')
      .row
        .col-md-8.col-md-offset-2
          #ratings
            #ratings-workmanship.form-group
              .container-fluid
                .row
                  .col-sm-4.col
                    .heading Quality of Workmanship
                  .col-sm-1.col-sm-offset-3
                    input#workmanship1.form-control(type='radio', name='workmanship', value='1')
                    label(for='workmanship1') 1
                  .col-sm-1
                    input#workmanship2.form-control(type='radio', name='workmanship', value='2')
                    label(for='workmanship2') 2
                  .col-sm-1
                    input#workmanship3.form-control(type='radio', name='workmanship', value='3')
                    label(for='workmanship3') 3
                  .col-sm-1
                    input#workmanship4.form-control(type='radio', name='workmanship', value='4')
                    label(for='workmanship4') 4
                  .col-sm-1
                    input#workmanship5.form-control(type='radio', name='workmanship', value='5')
                    label(for='workmanship5') 5
            #ratings-communication.form-group
              .container-fluid
                .row
                  .col-sm-4.col
                    .heading Communication
                  .col-sm-1.col-sm-offset-3
                    input#communication1.form-control(type='radio', name='communication', value='1')
                    label(for='communication1') 1
                  .col-sm-1
                    input#communication2.form-control(type='radio', name='communication', value='2')
                    label(for='communication2') 2
                  .col-sm-1
                    input#communication3.form-control(type='radio', name='communication', value='3')
                    label(for='communication3') 3
                  .col-sm-1
                    input#communication4.form-control(type='radio', name='communication', value='4')
                    label(for='communication4') 4
                  .col-sm-1
                    input#communication5.form-control(type='radio', name='communication', value='5')
                    label(for='communication5') 5
      .row
        .col-md-8.col-md-offset-2
          .form-group
            textarea#comments.text.form-control(name='text', rows='5', placeholder='Your comments...')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            button#send.btn.btn-block.btn-default.btn-lg(type='button').
              Send
        .col-md-8.col-md-offset-2
          #alerts
            .alert.alert-success(role='alert')
              span
            .alert.alert-info(role='alert')
              span
            .alert.alert-danger(role='alert')
              span
