.jumbotron.light.no-nav
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        h1.
          Feedback
        h2.
          Please provide us some general feedback on our service
  .container-fluid
    form
      input#subject.form-control(type='hidden', name='subject', value='Site Feedback Form')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            input#from.text.form-control(type='email', name='from', placeholder='Your email')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            input#name.text.form-control(type='text', name='name', placeholder='Your name')
      .row
        .col-md-8.col-md-offset-2
          #rating.form-group
            .container-fluid
              .row
                .col-sm-4.col
                    #rating-heading Rate our service
                .col-sm-1.col-sm-offset-3
                  input#rating1.form-control(type='radio', name='rating', value='1')
                  label(for='rating1') 1
                .col-sm-1
                  input#rating2.form-control(type='radio', name='rating', value='2')
                  label(for='rating2') 2
                .col-sm-1
                  input#rating3.form-control(type='radio', name='rating', value='3')
                  label(for='rating3') 3
                .col-sm-1
                  input#rating4.form-control(type='radio', name='rating', value='4')
                  label(for='rating4') 4
                .col-sm-1
                  input#rating5.form-control(type='radio', name='rating', value='5')
                  label(for='rating5') 5
      .row
        .col-md-8.col-md-offset-2
          .form-group
            textarea#comments.text.form-control(name='text', rows='5', placeholder='Your comments...')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            button#send.btn.btn-block.btn-default.btn-lg(type='button').
              Send
        .col-md-8.col-md-offset-2
          #alerts
            .alert.alert-success(role='alert')
              span
            .alert.alert-info(role='alert')
              span
            .alert.alert-danger(role='alert')
              span
