.jumbotron.light
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        h1.
          Interested?
        h2.
          Send us a message with some details about your request and we will call you back!
  .container-fluid
    a(name='quoteform')
    form
      input#subject.form-control(type='hidden', name='subject', value='quote')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            input#from.form-control(type='email', name='from', placeholder='Your email')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            textarea#body.form-control(name='body', rows='5', placeholder='Your message...')
      .row
        .col-md-8.col-md-offset-2
          .form-group
            button#send.btn.btn-block.btn-default.btn-lg(type='button').
              Send
        .col-md-8.col-md-offset-2
          #alerts
            .alert.alert-success(role='alert')
              span
            .alert.alert-info(role='alert')
              span
            .alert.alert-danger(role='alert')
              span
