- var site =  {};
- site.title = '4ward Fabrications | Home';
- site.description = 'This is the description';
- site.author = 'Anthony Sceresini <me-at-ardel.io>';

doctype html
html(lang="en")
  head
    include ./includes/_head.jade
  body
    section#navbar
      include ./includes/_navbar.jade
    section#header
      include ./includes/_header.jade
    section#quoteform
      include ./includes/_quoteform.jade
    footer
      include ./includes/_footer.jade
