section#feedback-form {
  background: #e0e0e0;
}

section#feedback-form form {
  margin-top: 20px;
}

section#feedback-form button {
  display: inline-block;
  padding: 14px 36px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  background: #f06544;
  color: #fff;
}

section#feedback-form #ratings > div.has-error,
section#feedback-form input.text.has-error,
section#feedback-form textarea.text.has-error {
  border: 1px solid #a94442;
}

section#feedback-form input.text {
  height: 47px;
}

section#feedback-form input.text,
section#feedback-form textarea.text {
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  padding: 10px 15px;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  margin: 0em;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font-size: 1em;
}

section#feedback-form #ratings > div {
  border: 1px solid rgba(255, 255, 255, 0);
  text-align: left;
  border-radius: 2px;
  padding: 5px 0;
}

section#feedback-form #ratings > div .heading {
  padding-top: 5px;
}

section#feedback-form #ratings label {
  background-color: rgba(242, 92, 69, .4);
  color: white;
  width: 100%;
  padding: 5px 0 2px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  margin: 0;
  min-width: 35px;
}

@media (max-width: 768px) {
  section#feedback-form #ratings label {
    margin: 5px 0;
  }
}

section#feedback-form #ratings label:hover {
  background-color: rgba(242, 92, 69, .7);
}

section#feedback-form #ratings input:checked+label {
  background-color: rgba(242, 92, 69, 1);
}

section#feedback-form #ratings input {
  display: none;
}
