section#feedback-form {
  background: #5fb26a;
}

section#feedback-form form {
  margin-top: 20px;
}

section#feedback-form button {
  display: inline-block;
  padding: 14px 36px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  background: #f06544;
  color: #fff;
}

section#feedback-form input.has-error,
section#feedback-form textarea.has-error {
  border-color: #a94442;
}

section#feedback-form input {
  height: 47px;
}

section#feedback-form input,
section#feedback-form textarea {
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  padding: 10px 15px;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  margin: 0em;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font-size: 1em;
}
