.jumbotron {
  background: none;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 100px 0;
}

.jumbotron h1 {
  font-size: 3.2em;
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 1.2em;
}

.jumbotron h1 span {
  font-weight: 500;
}

.jumbotron h2 {
  font-size: 1.35em;
  font-weight: 100;
  line-height: 1.6em;
}

.jumbotron h1, .jumbotron h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.jumbotron.dark h1 {
  color: #fff;
}

.jumbotron.dark h2 {
  color: rgba(255,255,255,.8);
}

.jumbotron.light h1 {
  color: #333;
}

.jumbotron.light h2 {
  color: rgb(102, 102, 102);
}
