section#logo {
  background-color: #e0e0e0;
  padding-top: 50px;
}

section#logo a {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

section#logo a img {
  max-width: 500px;
  width: 80%
}
