script(src='/assets/js/modules/alerts.js', type='text/javascript')
script(src='/assets/js/modules/quote_form.js', type='text/javascript')
script(type='text/javascript').
  (function() {
      this.QuoteForm.call({}, $('section#quoteform'), "/api/emailer", new Alerts($('div#alerts')));
  })(this);
