script(src='/assets/js/modules/alerts.js', type='text/javascript')
script(src='/assets/js/modules/form.js', type='text/javascript')
script(src='/assets/js/modules/app_home_page.js', type='text/javascript')
